


body  {
  font-family: 'Open Sans', sans-serif;
}





.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}

.active {

}

.background-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.background-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.background-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.background-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron-beer {
  background-image: url();
}

.jumbotron-duffel {
  background-image: url();
}

.jumbotron-flowers  {
  background-image: url();
}

.jumbotron  span  {
  text-shadow:
}

.btn-primary  {
  box-shadow:
}

.btn-primary:hover  {

}

.btn-primary:active {

}
